<%- include("partials/header.ejs") %>

  <h1>About Me</h1>
  <img class="profile" src="images\1703340141645.jpg" alt="cat profile">

  <p>Sanchit Chemate, an AI enthusiast and backend developer based in Maharashtra, India. As a Backend Intern at Kotak
    Alternate Asset Managers Limited Cherry, I contributed to an AI-generated chatbot, achieving a 90% user satisfaction
    rate through chatbot interactions. My experience includes document processing techniques that significantly improved
    user experiences.</p>

  <p>My background encompasses providing technical support at Vortex Infoway Pvt. Ltd., where I gained proficiency in
    Python, databases (MySQL, PostgreSQL), Data Science, and Machine Learning. I am currently pursuing B.Tech in
    Artificial Intelligence with a Minor in Data Science at g h raisoni college of engineering and management.</p>

  <p>Besides academics, I actively participate in clubs such as Earn and Learn Club and serve as Treasurer for the Peer
    Counseling Club. I am passionate about leveraging technology to create innovative solutions in AI and backend
    development.</p>

  <%- include("partials/footer.ejs") %>