<%- include("partials/header.ejs") %>

  <h1>Welcome to Sanchit Chemate's Portfolio</h1>

  <p>I am a dedicated AI enthusiast and backend developer based in Maharashtra, India. With experience as a Backend
    Intern at Kotak Alternate Asset Managers Limited Cherry and an Associate BB Support at Vortex Infoway Pvt. Ltd., I
    have honed my skills in AI chatbot development, document processing, API integration, technical support, and
    customer relationship management.</p>

  <p>Throughout my career, I've contributed significantly to projects like an AI-generated chatbot achieving a 90% user
    satisfaction rate and the development of an IPL Win Predictor using machine learning. I'm passionate about
    leveraging technologies, such as Python, PostgreSQL, and data visualization libraries like Matplotlib and Seaborn,
    to drive innovative solutions.</p>

  <p>Currently pursuing a B.Tech in Artificial Intelligence with a Minor in Data Science at g h raisoni college of
    engineering and management, I've achieved an impressive academic track record with a strong foundation in
    technologies like Java, Python (Data Analysis, Web Development), databases (MySQL, PostgreSQL), Streamlit, Data
    Science, and Machine Learning.</p>

  <p>Feel free to explore my portfolio to learn more about my projects, certifications, educational background, and
    involvement in various clubs and leadership roles.</p>

  <%- include("partials/footer.ejs") %>